<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<meta charset="utf-8">
		<title>推广区</title>
		
	</head>
	<body>
		
		<div style="font: normal bold 20px '楷体'; border: 1px solid #dee1e6; margin: 20px; text-align: center; box-shadow: 0px 7px 10px #ff0000; background-color: #dee1e6;" th:fragment='header'>
			<p style="margin-bottom: 30px;">此网站所有职位均可联系</p>
			
			<p>联系方式1：(谭：18084066302)</p>
			<p>或扫描下面二维码添加微信</p>
			<img style="width: auto; max-width: 100%;" th:src="@{/img/1720867348.jpg}" />
			
			<p style="margin-top: 60px;">联系方式2：(龙：13132314693)</p>
			<p>或扫描下面二维码添加微信</p>
			<img style="width: auto; max-width: 100%;" th:src="@{/img/1112601779.jpg}" />
			
			<p style="margin: 30px 0px ;">郑重承诺：此网站所有职位均真实有效</p>
		</div>
		
	</body>
</html>
